/* Grundläggande stil för hela sidan  */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background: #778899;
}

/*rubrik*/
h1 {
  color: white;
  font-size: 48px;
  margin: 40px 0 30px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

/* Centrerar sökfältet */
.search-section {
  margin: 30px auto;
  max-width: 600px;
}

/* sökruta */
input {
  padding: 12px;
  width: 300px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 25px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #50396B;
  box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
}

/* Sökknapp */
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #50396B;
  color: white;
}
/* Vad håller du på med*/

/* Meddelande */
.message {
  color: white;
  font-size: 18px;
  margin-top: 15px;
}

.sort-select {
  margin: 20px auto 0 auto; /* auto i mitten = centrerad */
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  display: block;        /* gör att auto-marginal fungerar */
  width: 200px;          /* lagom bred dropdown */
  text-align: center;    /* centrerar texten i knappen */
}


/* Resultatrutnät */
#results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  margin: 40px auto;
  max-width: 1200px;
  padding: 0 20px;
}

/* Bok-kort */
.book-card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.book-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.book-card img {
  width: 100%;
  border-radius: 8px;
}

.book-card h3 {
  font-size: 16px;
  margin: 10px 0 5px 0;
  color: #333;
}

.book-card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}
